name: S

on:
  push:
    paths:
      - ".github/workflows/s.yml"
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

env:
  PYTHONUNBUFFERED: "1"

concurrency:
  group: ${{ github.workflow }}

jobs:
  run:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ secrets.CODE_REPO_S }}
          token: ${{ secrets.CODE_TOKEN_BOT }}
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "poetry"
      - name: Install dependencies
        run: poetry install
      - uses: actions/checkout@v4
        with:
          path: serials
          repository: ${{ secrets.DATA_REPO_S }}
          token: ${{ secrets.CODE_TOKEN_BOT }}
          fetch-depth: 2
          filter: tree:0
      - name: Fetch
        run: poetry run python3 fetch_new.py
      # - name: Parse
      #   run: poetry run python3 parse.py
      - run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git pull
          git add cache_new
          git commit -am "Automatic update" || echo "No changes"
          git push
        working-directory: serials
        # if: ${{ !cancelled() }}
